
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/


html {
    font-family: Verdana;
    font-size: 10pt;
    background: #104e77 /*url(img01.jpg) repeat-x left top*/;
    ;; rgb(230,230,230);
}
.title { text-align: center;
         padding-top:10px;
         border-top:1px solid #000000;
         padding-bottom:10px;
         border-bottom:1px solid #000000;
        }
div#table-of-contents {
    float:right;
    text-align:left;
    font-size: 08pt;
    padding-top:5px;
    padding-right:5px;
    padding-left:5px;
    padding-bottom:5px;
    background-color: #f1c78f;
    border: 2px solid #333;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

body {
    width: 800px;
    margin: 50px auto;
    padding: 10px;
    text-align: left;
    background: #FFFFDD;
    font-family: Verdana;
    font-size: 12px;
    color: #000000;
    border: 2px solid #333;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
/*div#content{
    width: 500px;
    margin: 0px auto;
    text-align: left;
    padding: 15px;
}*/
h1, h2, h3 {
    margin: 1;
    padding:0;
    font-weight: normal;
    color: #32639A;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.4em;
}
h3 {
    font-size: 1.0em;
}
.todo  { color: red; }
.done { color: green; }
.timestamp { color: grey }
.timestamp-kwd { color: CadetBlue }
.tag { background-color:lightblue; font-weight:normal }
.target { background-color: lavender; }
pre {
    border: 1pt solid #AEBDCC;
    background-color: #F3F5F7;
    padding: 5pt;
    font-family: courier,monospace;
}
table {background-color:  rgb(196, 224, 239);
       border-collapse: separate; }
td, th {
    vertical-align: top;
    <!--border: 1pt solid #ADB9CC;--> }

p, ul, ol {
    margin-top: 0;
    line-height: 140%;
}

ul, ol {
}

a {
    text-decoration: none;
	color: #4486C7;
}

a:hover {
}

#wrapper {
    width: 960px;
    margin: 1 auto;
    padding: 0;
}

/* Header */

#header {
    width: 940px;
    height: 100px;
    margin: 1 auto;
}

/* Logo */

#logo {
    float: right;
    margin: 0;
    padding-top: 30px;
    color: #000000;
}

#logo h1, #logo p {
    margin: 0;
    padding: 0;
}

#logo h1 {
    float: right;
    letter-spacing: -1px;
    text-transform: lowercase;
    font-size: 3.8em;
}

#logo p {
    float: right;
    margin: 0;
    padding: 26px 0 0 10px;
    font: normal 14px Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    color: #FFFFDD;
}

#logo a {
    border: none;
    background: none;
    text-decoration: none;
    color: #FFFFDD;
}

/* Search */

#search {
    float: right;
    width: 280px;
    height: 60px;
    padding: 20px 0px 0px 0px;
    background: #E2E2E2;
    border-bottom: 4px solid #FFFFDD;
}

#search form {
	height: 41px;
	margin: 0;
	padding: 10px 0 0 20px;
}

#search fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

#search-text {
    width: 170px;
    padding: 6px 5px 2px 5px;
    border: 1px solid #DEDEDE;
    background: #FFFFDD;
    text-transform: lowercase;
    font: normal 11px Arial, Helvetica, sans-serif;
    color: #5D781D;
}

#search-submit {
    width: 50px;
    height: 22px;
    border: none;
    background: #B9B9B9;
    color: #000000;
}

/* Menu */

#menu {
    width: 940px;
    height: 49px;
    margin: 0 auto;
    padding: 0;
}

#menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: normal;
}

#menu li {
    float: left;
    border-left: 1px solid #4E9CE9;
}

#menu a {
    display: block;
    width: 155px;
    height: 33px;
    padding-top: 16px;
    text-decoration: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #FFFFFF;
    border: none;
}

#menu a:hover, #menu .current_page_item a {
    background: #4E9CE9;
    text-decoration: none;
}

#menu .current_page_item a {
    background: #4E9CE9;
    padding-left: 0;
}

/* Page */

#page {
    width: 940px;
    margin: 0 auto;
    padding: 0;
}

#page-bgtop {
    padding: 20px px;
}

#page-bgbtm {
}

/* Content */
/*
#content {
    float: right;
    width: 620px;
    padding: 30px 0px 0px 0px;
}
*/
.post {
    margin-bottom: 15px;
}

.post-bgtop {
}

.post-bgbtm {
}

.post .title {
    height: 38px;
    border-bottom: 1px solid #E2E2E2;
    margin-bottom: 10px;
    padding: 12px 0 0 0px;
    letter-spacing: -.5px;
    color: #000000;
}

.post .title a {
    color: #32639A;
    border: none;
}

.post .meta {
    margin-bottom: 30px;
    padding: 5px 0px 15px 0px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
}

.post .meta .date {
    float: left;
}

.post .meta .posted {
    float: right;
}

.post .meta a {
}

.post .entry {
    padding: 0px 0px 20px 0px;
    padding-bottom: 20px;
    text-align: justify;
}



/* Sidebar */

#sidebar {
    float: right;
    width: 280px;
    padding: 0px;
    color: #787878;
    background: #FFFFDD;
}

#sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#sidebar li {
    margin: 0;
    padding: 0;
	border-left: 1px solid #E2E2E2;
}

#sidebar li ul {
    margin: 0px 0px;
    padding-bottom: 30px;
}

#sidebar li li {
    line-height: 35px;
    border-bottom: 1px dashed #D1D1D1;
    margin: 0px 30px;
    border-left: none;
}

#sidebar li li span {
    display: block;
    margin-top: -20px;
    padding: 0;
    font-size: 11px;
    font-style: italic;
}

#sidebar h2 {
    height: 38px;
    padding-left: 30px;
    letter-spacing: -.5px;
    font-size: 1.8em;
}

#sidebar p {
    margin: 0 0px;
    padding: 0px 30px 20px 30px;
    text-align: justify;
}

#sidebar a {
    border: none;
}

#sidebar a:hover {
    text-decoration: underline;
    color: #8A8A8A;
}

.links {
    padding-top: 20px;
    font-size: 12px;
    font-weight: bold;
}

/* Calendar */

#calendar {
}

#calendar_wrap {
    padding: 20px;
}

#calendar table {
    width: 100%;
}

#calendar tbody td {
    text-align: center;
}

#calendar #next {
    text-align: right;
}

/* Footer */

#footer {
    height: 50px;
    margin: 0 auto;
    padding: 0px 0 15px 0;
    background:  #ECECEC;
    border-top: 1px solid #DEDEDE;
    font-family: Arial, Helvetica, sans-serif;
}

#footer p {
    margin: 0;
    padding-top: 20px;
    line-height: normal;
    font-size: 9px;
    text-transform: uppercase;
    text-align: center;
    color: #A0A0A0;
}

#footer a {
    color: #8A8A8A;
}
